*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: springgreen;
	background-color: #08324b;
	font-size: clamp(24px, 10vw, 48px);
}

.body{
	border: 1px solid #08324b;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-right: 150px;
	margin-left: 150px;
}

h1{
	font-size: 50px;
	color: #73ea67;
}

h2{
	margin-right: 30px;
	font-size: 25px;
}

.medium{
	color: #fec50e;
}

.github{
	color: #d5d8d4;
}

.hashnode{
	color: #a2fafe;
}

.twitter{
	color: #20edd2;
}

.reddit{
	color: #f0a94c;
}

.youtube{
	color: #eb4b28;
}

.instagram{
	color: #e84b73;
}

.linkedIn{
	color: #20dcfe;
}

.tiktok{
	color: #000000;
}
.facebook{
	color: #177ac3;
}
